body{background-image:url('http://www.vanessametonini.com.br/imersaocss/a1/img/fundo.jpg');font-family:arial;background-size: 100px 2px
}
a{text-decoration:none;
}
a:hover{text-decoration:underline;
}
.menu ul{display:flex;justify-content: space-around;
}
.menu li{list-style:none
}
.menu{background-color:white
}
.title{text-align:center;color:whitesmoke
}
.subtitle{text-align:center;color:whitesmoke;font-style:italic
}
